<p>
  You could be saving around <br><b><%= number_to_currency(@savings, precision: 0) %> per year</b> by switching to Eco ReBox! <p>You'll only need <%= @erb_q %> ecoreboxes versus <%= @cb_q %>  cardboard boxes.
</p>