<%= form_tag track_box_path, class: 'input-group', id: 'track_a_box' do %>
  <%= text_field_tag :uin, nil, placeholder: 'Track Your Eco ReBox', class: 'form-control' %>
  <span class='input-group-btn'>
    <%= submit_tag "Track", class: 'btn btn-default' %>
  </span>
<% end %>