<div align="center">
  <%= image_tag 'erb_ups_muzak.jpg', class: 'img-responsive', alt: 'ERB UPS Muzak' %>
  <p class="small"> From left to right: Robert Hamm of Eco ReBox; Debbie Murguia of Muzak; Some UPS employees; Eddie Phanichkul of Eco ReBox.</p>
</div>

<h3> Company Profile</h3>
<p align='justify'>Eco ReBox changes the way the world is delivered, one package at a time.</p>
<p align='justify'>
  Eco ReBox, LLC. is a California-based limited liability company focused on sustainable shipping practices and utilizing green technology to enhance shipping logistics. Eco  ReBox's goal is to reduce the carbon footprint of shipping by using reusable, recyclable shipping boxes. With a patent-pending methodology on incentivized  return shipping, Eco ReBox is a pioneer in the wide-scale reclaimation of shipping  material. Companies using Eco ReBox products or shipping with Eco ReBox boxes have already benefited from the cost and environmental savings of reusable packaging.
</p>
<h3>Overview </h3>
<p align='justify'>
  <%= image_tag 'saving-trees.jpg', alt: 'saving trees', class: 'pull-left pad-right img-responsive' %>
  The market for Eco ReBox spans a variety of industries with measurable and positive impacts on the environment. Eco ReBox is the next generation in sustainable packaging, and its products will set the standard for socially responsible corporations worldwide.
  <br/>
  <br/>
  Eco ReBox is the premier manufacturer and provider of an innovative, environmentally-conscience, reusable, self-contained shipping system which replaces the need for traditional packaging materials such as corrugated boxes, polystyrene, and foam. Eco ReBox transforms the shipping and packaging infrastructure across various industries by moving away from disposable materials to a zero-waste solution that has a lifespan of more than twenty uses, depending on the product.
  <br/>
  <br/>
  Eco ReBox is part of the &quot;Green Revolution&quot; and we care about the environment. Our revolutionary sustainable packaging eliminates single-use packaging materials and saves labor costs. Upon return of materials, it is 100% recyclable within our system. Eco ReBox's innovated products are designed to eradicate the need for additional packing materials such as packing boxes, wood, polystyrene, peanuts, shrink-wrap, and bubble wrap. These save trees, water, energy, and fuel; all of which reduce global warming, and eliminate out-gassing and litter from polystyrene production. For Eco ReBox customers,  the end result is substantially less packing materials, a simple transition in  terms of logistics and labor, tremendous cost savings, and a significant contribution to a sustainable future.
  <br/>
  <br/>
  The Eco ReBox system can apply to anything that is otherwise now packed into a standard or customized box; such as refrigerators, appliances, computers and laptops, as well as the residential and commercial moving industry. In addition, we offer reusable shipping containers in many sizes for the  non-commercial shipping market. As the company grows, Eco ReBox will continue to add new designs and conduct additional research and development in efforts to expand product lines and further efforts to help the environment.
</p>
<h3>Greening is Good Business</h3>
<p align='justify'>
  While the world may have just recently discovered the &quot;Green Revolution,&quot; forward-looking businesses have been focusing on the environmental and social impacts of their operations and products before it was popular to do so. Like Eco ReBox, these businesses  continue to push the sustainability envelop, driven by both environmental challenges and economic opportunities. This evolving mindset results in  environmental benefits and revenue for a company's bottom-line.
  <br/>
  <br/>
  The consumer population, and responsible businesses like Eco ReBox and its customers,  will revolutionize the way the world delivers and uses goods. Eco ReBox is a zero-waste alternative, which reduces the adverse environmental impacts of traditional packaging materials, while providing companies immeasurable savings. Environmental protection and economic gains are mutual goals.
  <br/>
  <br/>
  In additional to &quot;green business&quot; benefits Eco ReBox customers realize from using our innovated products and services, Eco ReBox helps companies develop corporate goodwill and strong brand loyalty. Consumers want to do business with companies that are environmentally and socially responsible, and Eco ReBox products meet that demand.
  <br/>
  <br/>
  Today's green business leaders integrate social, environmental, and economic concerns into innovative, successful business strategies. Eco ReBox leads this trend and offers customers in a variety of industries new means to achieve these goals.
</p>
<h3>How does it compare to other products?</h3>
<p align='justify'>
  <%= image_tag 'too-box.jpg', alt: 'Temecula Olive Oil Box', class: 'pull-left pad-right img-responsive' %>
  Eco ReBox, LLC has developed a line of reusable, simple-to-use, innovative packaging products and a system for reclaiming a package. The innovative, environmentally-conscious, reusable system is key to the success of Eco ReBox as well as for the elimination of  corrugated boxes, polystyrene, and other traditional packaging materials. The shift from disposable containers (e.g. corrugated cardboard) to reusable Eco ReBox products will significantly reduce costs throughout the supply chain.
</p>
<h3>Our Mission</h3>
<p align='justify'>
  Eco ReBox's mission is to be the ultimate recycling and reuse solutions for the packaging industry, bridging consumers and manufacturers.
</p>
<h3> Our Method</h3>
<p align='justify'>
  Our patent-pending methodology is a proven method of tracking, shipping, and reclaiming products for reuse and recycling, creating better business to customer relationships and a sustainable shipping ecosystem.
</p>

<script type="text/javascript">
  $('.dropdown.second').addClass('active');
</script>