<% provide(:title, 'Company Profile') %>
<div class="jumbotron">
  <div class="container">
    <h1>Rethink. Restore. Reuse.</h1>
    <p>
      Eco ReBox, LLC., is the logistics industry leader with forward-thinking packaging, shipping and logistics solutions that influence the sustainability agenda. We offer successful business strategies resulting in reduced environmental effects, cost savings, and a change in mindsets.
    </p>
    <p>We are constantly changing the way people do business with our sustainability tracking software and shipping products.</p>
  </div>
</div>
<div class="container">
  <div class="row">
		<div class="col-sm-9 col-xs-12">
			<%= render 'about' %>
		</div>
		<div class="col-sm-3 col-xs-12">
			<%= render 'sidebar' %>
		</div>
  </div>
</div>