<% provide(:title, 'Company Profile') %>
<div class="jumbotron">
  <div class="container">
    <h1>Rethink. Restore. Reuse.</h1>
    <p>
      Eco ReBox, LLC., is the logistics industry leader with forward-thinking packaging, shipping and logistics solutions that influence the sustainability agenda. We offer successful business strategies resulting in reduced environmental effects, cost savings, and a change in mindsets.
    </p>
    <p>We are constantly changing the way people do business with our sustainability tracking software and shipping products.</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-9">
      <%= render 'about' %>
    </div>
    <div class="col-xs-3">
      <div class="row">
      	<h3>Instagram</h3>
			  <iframe src="http://www.intagme.com/in/?u=ZWNvcmVib3h8aW58MTIwfDJ8Mnx8eWVzfDV8dW5kZWZpbmVk" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:270px; height: 270px" ></iframe>
      </div>
      <div class="row">
        <h3>Facebook</h3>
        <div class="fb-like-box" data-href="http://www.facebook.com/ecoreboxllc" data-width="235" data-height="340" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
      </div>
    </div>
  </div>
</div>