<% provide(:title, 'About') %>
<div class="headercontent">
  <div class="hero-unit">
    <h1>Rethink. Restore. Reuse.</h1>
    <p>
      Eco ReBox, LLC., is the logistics industry leader with forward-thinking packaging, shipping and logistics solutions that influence the sustainability agenda. We offer successful business stratetgies resulting in reduced environmental effects, cost savings, and a change in mindsets.
    </p>
    <p>We are constantly changing the way people do business with our sustainability tracking software and shipping products.</p>
  </div>
  <div align="center">
    <%= image_tag 'erb_ups_muzak.jpg', alt: 'ERB UPS Muzak' %>
    <p class="small"> From left to right: Robert Hamm of Eco ReBox; Debbie Murguia of Muzak; Jerry Morgan,<br/>
    Dhayalan Shanmugalingam, and Jarrod Purdon of UPS; Eddie Phanichkul of Eco ReBox.</p>
</div>
  <div class="row">
    <div class="span12">
      <%= render 'about' %>
    </div> <!--/.span12 -->
  </div> <!--/.row -->
</div> <!--/.headercontent -->