<% provide(:title, 'Contact') %>
<div class="headercontent">
  <div class="hero-unit">
    <h1>Contact</h1>
    <p>Contact Eco ReBox.</p>
  </div>
  <div class="row">
    <div class="span12">
      <%= render 'contact' %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.nav-pills li a.fifth').addClass('active');
</script>    