<% provide(:title, 'Contact') %>
<div class="jumbotron">
  <div class="container">
    <h1>Contact</h1>
    <p>Contact Eco ReBox.</p>
  </div>
</div>
<div class="container">
  <%= render 'contact' %>
</div>


<script type="text/javascript">
  $('.nav-pills li a.fifth').addClass('active');
</script>    