<% provide(:title, 'Patent-Pending Methodology') %>
<div class="jumbotron">
  <div class="container">
    <h1>Methodology</h1>
    <p>Patent-Pending.</p>
  </div>
</div>
<div class="container">
  <h3>Methodology</h3>
  <p>Unfortunately, at this time, Eco ReBox cannot disclose our patent pending methodology in full detail.</p>
  <p>Our methods involve reusable shipping products, and the reclamation of those products.</p>
  <p>If you are an investor or potential investor in Eco ReBox, LLC. Please contact Robert Hamm for more information.</p>
</div>


<script type="text/javascript">
  $('.dropdown.third').addClass('active');
</script> 