<% provide(:title, 'Privacy Policy') %>
<div class="headercontent">
  <div class="hero-unit">
    <h1>Privacy Policy</h1>
  </div>
  <div class="row">
		<div class="span12">
      <p><em>1. General Statement:</em></p>
      <p>
        We respect your privacy and are committed to protecting it. This privacy statement explains our policies and practices regarding online customer information. It is through this disclosure that we intend to provide you with a level of comfort and confidence in how we collect, use, and safeguard personal and other information we collect or that you provide through this website, and how you can contact us if you have any questions or concerns. It is our sincere hope that by explaining our data handling practices, we will develop a trusting and long-lasting relationship with you. By using the site, you agree to the terms of this privacy statement.
      </p>
      <p><em>2. Information About Our Organization and Website:</em></p>
      <p>
        This privacy statement applies to <a href="http://ecorebox.com">ecorebox.com</a>. Ecorebox.com is owned by Eco ReBox, LLC. 3241 Cabrillo Mesa Drive, San Diego, CA 92123.<br>
        The business purpose of this website  is to provide information about products, solutions, and services sold and  provided by Eco ReBox, LLC.
      </p>
      <p><em>3. Personally Identifiable Information We Collect From You:</em></p>
      <p>
        When you visit ecorebox.com, we will not collect any personal information about you unless you provide it to us voluntarily. Personal data includes information that is particular to you such as name, street address, telephone number, and email address. If you opt not to provide us with personal information, you can still access our website, however, you may be unable to participate in promotions and website services such as box tracking.<br>
        Our primary goal in collecting personal information from you when you visit ecorebox.com is to provide you the functionality and services that you need to use our customized website features.
      </p>
      <p>
        Email addresses collected will be used solely for the purpose of contact between Eco ReBox, LLC. and you. Should you refer a friend, we will only use email addresses collected for the sole purpose of contact between Eco ReBox, LLC. and your intended recipiant.
      </p>
      <p><em>4. How We Use the Personally Identifiable Information We Collect:</em></p>
      <p>Personally identifiable information collected on ecorebox.com may be used to:</p>
      <ul type="disc">
        <li>Fulfill a site user request (such as the emailing of requested product information)</li>
        <li>Fulfill and deliver an order for goods or services such as processing service rebates</li>
        <li>Respond to your comments or requests for information</li>
        <li>Meet a request for or to develop new products or services</li>
        <li>Make the user experience more customer friendly</li>
        <li>Generate site analytics that improve our site layout, content, product offerings and services</li>
        <li>Compile user data that is stored in our corporate database and may be used for marketing and other purposes</li>
        <li>Comply with legal requirements</li>
      </ul>
      <p><em>5. Other (Non-Personally Identifiable) Information We Collect From Site Visitors:</em></p>
      <p>
        During a normal visit to our site, no personally identifiable information about you is collected. All information on our site is free to browse at your leisure  without the need for you to provide us with any personally identifiable information. Ecorebox.com collects other information, non-personally identifiable information from site visitors. This means that we do not track these items on an individual basis that identifies the site visitor, but rather gather and collect this information on an aggregate (or anonymous) basis that includes all site visitors. Non-personal information includes tracking the site  pages that are visited or the amount of time spent on our site.
      </p>
      <p>
        Our primary goal in collecting aggregate information from you is to be able to perform site metrics that allow us to improve the functionality of the website. We need to collect aggregate information in order to track page visits and peak site usage times, and to perform site clickthrough analysis and site layout re-design.
      </p>
      <p>
        We may use session and persistent &quot;cookies&quot;, session logs, spotlight ads/web beacons/GIF/pixel tags, banner ads or links, and third-party click tracking analytics tools (such as DART, Omniture tags, DoubleClick, Efficient Frontier, and Google Analytics) to collect aggregate or other non-personally identifiable information about site visitors.
      </p>
      <p><em>6. How We Use the Aggregate or Non-Personally Identifiable Information We Collect:</em></p>
      <p>Non-Personally identifiable information collected on ecorebox.com may be used to:</p>
      <ul type="disc">
        <li>Compile aggregate and statistical data to help in website design and to identify popular features</li>
        <li>Measure site activity to allow us to update our site to better meet user wants and needs</li>
        <li>Make the user experience more customer friendly</li>
      </ul>
      <p>Ecorebox.com utilizes non-personal data for the purpose of performing analytics on the user's experience while  visiting this site. This analysis:</p>
      <ul type="disc">
        <li>Is performed on an aggregate level and does not identify you or your information personally</li>
        <li>May involve the use of a third-party vendor acting on behalf of ecorebox.com</li>
        <li>Is performed in order to improve our website and the user experience</li>
        <li>Any information that is provided to a third-party vendor is to be used only for the purpose of performing the analytics and compiling reports of the data.</li>
      </ul>
      <p><em>7. Methods Used to Collect Information:</em></p>
      <p>
        A &quot;cookie&quot; is a small text file that helps us in many ways to make your visit to our website more enjoyable and meaningful to you. For example, cookies avoid you having to log in every time you come back to one of our websites. They also allow us to tailor a website or advertisement to better match your interests and preferences. There are a couple of different types of cookies.
      </p>
      <p>
        A &quot;session&quot; cookie is  stored only in your computer's working memory (RAM) and only lasts for your  browsing session. When you close all your browser's windows, or when you shut down your computer, the session cookie disappears forever.
      </p>
      <p>
        A &quot;persistent&quot; cookie is stored on your computer's hard drive until a specified date, which could be  tomorrow, next week, or 10 years from now. Persistent cookies stay on your computer until either a) they expire, b) they are overwritten with newer cookies, or c) you manually remove them. Most browsers can be configured not to accept cookies, however, this may prevent you from having access to some site  functions or features.
      </p>
      <p>
        This site may use a third party to deliver site functionality. In performing this function, the third party may place a persistent cookie on your computer or have to gather personal information from you to provide requested information.
      </p>
      <p>
        This site may use a third-party click-tracking analytics tool (such as DART, Omniture tags, DoubleClick, Efficient Frontier, and Google Analytics) to capture clickthrough statistics.
      </p>
      <p>
        When you visit our website, the server housing the pages automatically generates a &quot;session log&quot;. We use session logs to help us determine how people travel through our site. In this way, we can structure our pages so that the information most frequently visited is easier to find. By tracking page visits, we can also determine if the information we're providing is being used. The only data gathered is the Internet Protocol (IP) address from which you came (which contains no personal information), the website that referred you, the pages you visited and the date and time of those visits.
      </p>
      <p><em>8. Links to Other Sites:</em></p>
      <p>
        Ecorebox.com provides links to other websites. We encourage you to review the  privacy statements of all sites that you visit, including those whose links are provided so that you can understand how those sites collect, use and share your information. Ecorebox.com is not responsible for the privacy statements, content or data-handling practices on other websites.
      </p>
      <p>
        If you use the Google Map functionality on the mobile version of this website, you agree to be bound by  Google's <a href="http://www.google.com/intl/en_us/help/terms_maps.html" target="_blank">Terms of Use</a> and Google's Privacy Policy.
      </p>
      <p><em>9. Children's Privacy:</em></p>
      <p>
        Ecorebox.com does not knowingly intend to collect personal information from children under 13 years of age.
      </p>
      <p><em>10. Contacting Us:</em></p>
      <p>
        If you have any questions, comments or concerns about this online privacy statement for ecorebox.com, ecorebox.com privacy practices, or have any questions regarding the contents of this website, please contact us at <%= mail_to 'support@ecorebox.com' %>.
      </p>
      <p><em>11. Privacy Statement Effective Date and Revision Days:</em></p>
      <p>
        Occasionally we may update the privacy statement for ecorebox.com in order to reflect any changes to the website or our privacy practices. If we update this statement, the new statement will be posted to the website ten (10) days prior to the changes taking effect.
      </p>
      <small>The effective date of this privacy statement is 03/01/13.</small>
    </div> <!--/.span12 -->
  </div> <!--/.row -->
</div> <!--/.headercontent -->