<% provide(:title, 'Reclamation') %>
<div class="headercontent">
  <div class="hero-unit">
    <h1>Reclamation</h1>
    <p>Closing the loop in shipments.</p>  
  </div>
  <div class="row">
		<div class="span12">
      <h3>Product Reclamation</h3>
      <p>
        Eco ReBox has developed a product reclamation program integrated using our software solution. Because Eco ReBox products love to be reused and recycled, our reclamation process ensures that customers will  realize their ROI and maintain customer satisfaction, brand loyalty, and recover costs associated with shipping. This helps maintain a healthy reuse ecosystem for Eco ReBox products.
      </p>
		</div>
  </div>
</div>


<script type="text/javascript">
  $('.dropdown.third').addClass('active');
</script> 