<% provide(:title, 'Resources') %>
<div class="headercontent">
  <div class="hero-unit">
    <h1>Resource Savings</h1>
    <p>Helping to save the world one box at a time.</p>
  </div>
  <div class="row">
		<div class="span12">
      <h3>Calculations</h3>
      <p>
        <%= image_tag 'conservation.png', alt: 'resource savings calculations' %>
      </p>
      <br/>
      <br/>
      <p align='center'>
        <em>These conversion factors subject to change based on various industry standards.</em>
      </p>
		</div>
  </div>
</div>

<script type="text/javascript">
  $('.nav-pills li a.first').addClass('active');
</script> 