<% provide(:title, 'Shipping Containers') %>
<div class="jumbotron">
  <div class="container">
    <h1>Shipping Containers</h1>
    <p>Our products save trees, water, and electricity.</p>
  </div>
</div>
<div class="container">
  <h3>Shipping Containers</h3>
  <p>
    Environmentally conscious and economically attractive reusable polypropylene boxes, engineered and designed as a replacement for paperboard corrugated boxes, polystyrene foam, and wooden pallets. Eco ReBox containers are used multiple times allowing manufacturers to save on packaging and fuel costs. Eco ReBox reusable material also reduces the negative environmental impacts of typical packaging production and disposal. This includes: reduced consumption of trees, less energy and waste water, lower greenhouse gas emissions, and less permanent waste in landfills.
  </p>
  <h3>Features</h3>
  <ul type="disc">
    <li>Reusable and durable corrugated polypropylene box</li>
    <li>Customized and secured, heavy-duty air bladder (fixed within unit upon request)</li>
    <li>Tape-less twist and snap system that stays fit to unit (optional)</li>
  </ul>
  <h3>Benefits and Applications</h3>
  <ul type="disc">
    <li>Compact and efficient structure reduces overall packaging size allowing more products per square foot for shipping and storage</li>
    <li>Multiple-use life of product equates to fewer packaging purchases and decreased expenditures on fuel and other commodities</li>
    <li>Reusable material significantly reduces the volume of trees and other resources used to manufacturer traditional disposable packaging</li>
    <li>Applicable in both open and closed loop systems</li>
    <li>Easily integrated into corporate sustainability programs that resonate with customers and consumers</li>
  </ul>
</div>


<script type="text/javascript">
  $('.dropdown.fourth').addClass('active');
</script>     