<% provide(:title, 'Software') %>
<div class="headercontent">
  <div class="hero-unit">
    <h1>Software</h1>
    <p>Tracking your return on investment.</p>
  </div>
  <div class="row">
		<div class="span12">
      <h3>ROI Software</h3>
      <p>
        With Eco ReBox's software, your business can track packages and the return on investment (ROI) you've made on reusable products. Furthermore, you can show your customers just how green you are by displaying how you've helped to save trees, water, energy, and fuel. Our <em>ERB Savings Widget</em> is available exclusively to customers and clients using Eco ReBox products.
      </p>
      <p>
        Our patent-pending software solution allows you to track your box inventory using our shipping partners, consumer participation, or in-house processes to track and locate boxes. The Eco ReBox software solution also is a metric for how effective the solution is for your business, allowing you to see immediate losses, and project future ROI.
      </p>
		</div>
  </div>
</div>

<script type="text/javascript">
  $('.dropdown.third').addClass('active');
</script>       