<% provide(:title, 'Resource Savings and Box Tracking Software') %>
<div class="jumbotron">
  <div class="container">
    <h1>Software</h1>
    <p>Tracking your savings over cardboard.</p>
  </div>
</div>  
<div class="container">
  <div class="row">
		<div class="col-sm-9 col-xs-12">
			  <h3>Resource Savings Software</h3>
				  <p>
					With Eco ReBox's software, your business can track packages and the savings you've made on switching to reusable products. Furthermore, you can show your customers just how green you are by displaying how you've helped to save trees, water, energy, and fuel. Our <em>ERB Savings Widget</em> is available exclusively to customers and clients using Eco ReBox products.
				  </p>
				  <p>
					Our patent-pending software solution allows you to track your box inventory using our shipping partners, consumer participation, or in-house processes to track and locate boxes. The Eco ReBox software solution also is a metric for how effective the solution is for your business, allowing you to see immediate losses, and project future savings and box usage.
				  </p>
		</div>
		<div class="col-sm-3 col-xs-12">
			<%= render 'sidebar' %>
		</div>
  </div>
  

</div>


<script type="text/javascript">
  $('.dropdown.third').addClass('active');
</script>       