<% provide(:title, 'Terms of Use') %>
<div class="headercontent">
  <div class="hero-unit">
    <h1>Terms of Use</h1>
  </div>
  <div class="row">
		<div class="span12">
      <p>
        Eco ReBox, LLC. and its affiliated providers (&ldquo;We,&rdquo; &ldquo;Us,&rdquo; &ldquo;Our&rdquo;) supply this &ldquo;Website&rdquo; and its resulting software generated content, widgets, or tracking information (collectively &ldquo;content&rdquo;) to you without cost as a courtesy. Understand that this website is provided for educational and informative purposes. We assume no liability for content or  information provided to you. All content in this database are provided without any warranty, express or implied, as to their legal effect and completeness. Please use at your own risk. No claim is made to public domain or government forms in the public domain.
      </p>
      <p>
        THE MATERIALS AT THIS SITE ARE PROVIDED &quot;AS IS&quot; WITHOUT ANY EXPRESS OR IMPLIED WARRANTY OF ANY KIND  INCLUDING WARRANTIES OF MERCHANTABILITY, NONINFRINGEMENT OF INTELLECTUAL PROPERTY, OR FITNESS FOR ANY PARTICULAR PURPOSE. IN NO EVENT SHALL ECO REBOX, LLC. OR ITS AGENTS OR OFFICERS BE LIABLE FOR ANY DAMAGES WHATSOEVER (INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF PROFITS, BUSINESS INTERRUPTION, LOSS OF INFORMATION) ARISING OUT OF THE USE OF OR INABILITY TO USE THE MATERIALS, EVEN IF LEGAL RIVER, INC. HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
      </p>
      <p>
        License Agreement: In accessing our content, you agree that the content may only be used for your personal use or use for your clients and may not be sold or redistributed without the written consent of Eco ReBox, LLC. No license or claim is made to government or public domain forms except that such forms may not be obtained from this site for resale.
      </p>
    </div>
  </div>
</div>
                 