<% provide(:title, 'Testimonials') %>
<div class="jumbotron">
  <div class="container">
    <h1>What People Are Saying</h1>
    <p>Here are a few things people are saying about Eco ReBox.</p>
  </div>
</div>
<div class="container">
  <%= render partial: 'testimonial', collection: @companies %>
  <%= paginate @companies %>
</div>

<script type="text/javascript">
  $('.dropdown.second').addClass('active');
</script>