<% provide(:title, 'Partners') %>
<div class="jumbotron">
  <div class="container">
    <h1>Our Customers</h1>
    <p>Our customers include a broad array of retailers and manufacturers from across the country. Here, we feature some of our most environmentally dedicated clients.</p>
  </div>
</div>
<div class="container">
  <%= render @companies %>
  <%= paginate @companies %>
</div>

<script type="text/javascript">
  $('.dropdown.second').addClass('active');
</script>