<div class='post_index'>
  <h3><%= link_to post.title, post, class: 'green' %><br/>
    <small>posted <%= time_ago_in_words(post.published_at ? post.published_at : post.created_at) %> ago by <%= post.user ? post.user.name : post.author %></small>
  </h3> 
  <p><%= raw truncate("#{strip_tags(post.content)}", length: 300, separator: ' ') %></p>
</div>