<% provide(:title, "Edit News Entry") %>
<div class="jumbotron">
  <div class="container">
    <h1>Edit Blog Entry</h1>
  </div>
</div>
<div class="container">
  <%= form_for @post, html: {role: 'form'} do |f| %>
    <%= render 'fields', f: f %>
    <br/>
    <%= f.submit "Submit Changes!", class: "btn btn-large btn-primary" %>
    <%= f.submit "Cancel", data: { confirm: "All changes will be lost.  Are you sure?" } %>
  <% end %>
</div>


<script>
  $('.nav-pills li a.blog').addClass('active');
</script>