/* VARIABLES ------------------------------ */
$ecogreen: rgb(184,207,140);

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

/* GLOBAL STYLES ------------------------------ */

html, body {
  height: 100%;
}

body {
  color: rgb(90,90,90);
  background-image: url('/assets/whitey.png');
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.content {
  padding: 0px 0 50px 0;
}

footer {
  margin: -45px auto 0 auto;
  padding-top: 5px;
  border-top: 1px solid gray;
  color: gray;
  a {
    color: gray;
    &:hover { 
      color: gray;
    }
  }  
}

.costInput input {
  width: 50px;
  text-align: center;
  color: #697F3F;
  font-weight: bold;
}

.web_link {
  position: relative;
  top: -10px;
}

.pad-right {
  padding-right: 20px;
}

.bold_green {
  position: relative;
  font-size: 1.5em;
  color: #697F3F;
  font-weight: bold;
}

#rss img {
  max-height: 20px;
  position: relative;
  top: 7px;
  left: -15px;
}

.post_index {
  display: block;
  padding: 10px;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  -ms-transition: background 0.5s ease;
  transition: background 0.5s ease;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  h3 {
    line-height: 20px;
  }
  &:hover {
    background-color: whitesmoke;
  }
}

/* CUSTOMIZE THE NAVBAR ------------------ */
.navbar-collapse {
  margin-top: 20px;
  margin-bottom: -90px;
  .nav-pills {
    .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus  {
      color: white;
      background-color: $ecogreen;
    }
    padding-top: 9px;
    li a {
      color: gray; 
      .caret {
        border-top-color: gray;
      }
      &.active {
        color: white;
        background-color: $ecogreen;
      }
    }
    .dropdown-menu li {
      a:hover {
        background-image: none;
        background-color: $ecogreen;
        color: white;
      }
    }
  }
  .mainlogo {
    position: relative;
    top: 16px;
  }
}
.navbar-header {
  width: 100%;
  .navbar-toggle {
    border-color: $ecogreen;
    .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      background-color: $ecogreen;
    }
  }
  .navbar-toggle:hover {
    background-color: lightgrey;
  }
}

#myCarouselHome {
  margin: 0px auto;
  img {
    max-width: 100%;
    min-width: 100%;
  }
  .carousel-caption {
    background: none;
    color: white;
    h1 {
    text-shadow: 0.1em 0.1em 0.2em rgb(0,0,0);
    }
    .lead {
    text-shadow: 2px 2px 2px rgb(0,0,0);
    }
  }
}

/* MARKETING CONTENT -------------------- */
/* Center align the text within the three columns below the carousel */
.marketing {
  font-family: 'Oswald', sans-serif;
  .col-sm-4 {
    text-align: center;
  }
   h2 {
    font-weight: normal;
  }
  .col-sm-4 p {
    margin-left: 10px;
    margin-right: 10px;
  }
  .jumbotron {
    margin-bottom: 0px;
  }
}

/* total impact -------------------- */
.resource {
	font-size: 24px;
	font-weight: bold;
}

.resourcecomp {
	font-size: 12px;
	line-height: 11px;
}

.topbumper {
	margin-top: 10px;
	line-height: normal;
  text-align: center;
}


/* TABS ------------------------------- */
.tab-content {
  background-color: white;
  padding-top: 20px;
}

.nav-tabs {
  li {
    left: -1px;
  }
}

#companyBoxList_wrapper .pagination li {
  display: none;
}
#companyBoxList_wrapper .pagination li.prev,
#companyBoxList_wrapper .pagination li.next {
  display: inline;
}

.green {
  &:link {
    color: #0088cc;
  }
  &:visited {
    color: #697f3f;
  }
  &:hover {
    color: #005580;
  }
  &:active {
    color: #005580;
  }
}

input.tf_blog {
  width: 440px;
}

input.tf_blog2 {
  width: 98%;
}

.trackbox {
  float: right;
  position: relative;
  top: -28px;
}

.user_select_company {
  position: relative;
  top: 12px;
}

.costInput input {
  display: inline;
  width: 90px;
}

h1, h2, h3, h4 {
font-family: 'Oswald', sans-serif;
text-transform: uppercase;
}
#total_impact_view{
  background-image: url('/assets/total_impact_view.jpg');
  background-size: cover;
  .container {
    padding: 20px;
    margin: 0px auto;
    color: #FFFFFF;
    font-size: 20px;
    background-color:rgba(0,0,0,0.8);
    text-align: center;
  }
}

#total_impact_view table{
  color: #FFFFFF;
}

#did_you_know_view{
  background-image: url('/assets/did_you_know_view.jpg');
  background-size: cover;
  .container {
    padding: 20px;
    margin: 0px auto;
    color: #FFFFFF;
    font-size: 20px;
    background-color:rgba(0,0,0,0.8);
    text-align: center;
  }
}

#contact_tracking_view{
  text-align: center;
  #contactus {
    margin: 30px;
  }
  background-image: url('/assets/contact_tracking_view.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center bottom;
}

#tracker {
  width: 100%;
  height: 700px;
  overflow: hidden;
  position: relative;
  #tracker-iframe {
    position: absolute;
    top: -100px;
    left: -100px;
    width: 1280px;
    height: 1200px;
  }
}

xmp {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -webkit-pre-wrap; 
  white-space: -o-pre-wrap;  
  word-wrap: break-word;    
}

.get_quote {
  textarea {
    resize: vertical;
    height: 128px;
  }
}