// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.best_in_place {
  cursor: pointer;
}

td.edit {
  .best_in_place {
    input {
      width: 57px;
      margin-bottom: -12px;
      position: relative;
      top: -7px;
      left: -7px;
    }
  }
}

td {
  position: relative;
  .actions {
    display: none;
  }
  &:hover .actions {
    display: inline;
    position: absolute;
    right: 10px;
  }
}

span.edit {
  .best_in_place {
    margin: auto 20px auto 7px;
    input {
      width: 57px;
      margin-bottom: -12px;
      position: relative;
      top: -7px;
      left: -7px;
    }
  }
}

tr[class^='row'], tr.total {
  td {
    height: 30px;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
    input {
      width: 120px;
      margin: 0px;
    }
    select {
      width: 160px;
      margin: 0px;
      display: inline-block;
    }
  }
}

a.remove.action {
  font-weight: bold;
  color: red;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}