<% provide(:title, @category) %>
<div class="jumbotron">
  <div class="container">
    <h1>
      News 
      <%= link_to image_tag('RSS.png'), posts_url(format: 'atom'), target: '_blank', id: 'rss', title: 'Atom/RSS feed' %>
    </h1>
    <p>ReThink. ReStore. ReUse.</p>
  </div>
</div>  

<div class="container">
  <%= render @posts %>
  <%= paginate @posts %>
</div>

<script>
  $('.nav-pills li a.blog').addClass('active');
</script>