<% provide(:title, @category) %>
<div class="headercontent">
  <div class="hero-unit">
    <h1><%= @category.capitalize %></h1>
    <p></p>
  </div>
  
  <div class="row">
    <div class="span12">
      <%= render @posts %>
      <%= paginate @posts %>
    </div>
  </div>
</div>

<script>
  $('.nav-pills li a.blog').addClass('active');
</script>