<html>
<head>
<link href="dist/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<footer>
  <div class='container'>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>
      <%= link_to image_tag("footer_logo.png", alt: "Eco Rebox"), root_path, class: "mainlogo" %>
      &nbsp;&nbsp;&copy; 2013 Eco ReBox, LLC. 
      &nbsp;|&nbsp; <%= link_to 'Privacy', privacy_path %>
      &nbsp;|&nbsp; <%= link_to 'Terms', use_path %>
      &nbsp;|&nbsp; <%= link_to 'Contact', contact_path %>
    </p>
    <%= yield :scripts %>
  </div>
</footer>
</body>
</html>